body{background-color: rgb(16, 16, 47);}
.container{display: flex;}
.block1{float: left;display: block; width: 300px;
padding: 80px 50px 0 50px; flex:1 ;}
.block2{float: right;display: block;flex: 1; padding: 130px 00px 0 50px; width: 363px;}
h1{color: aliceblue; font-style: inherit;}
label{color: aliceblue;}
p{color: aliceblue; margin: 0 0 0 0;}
input{margin: 0 0 10px 0;width: 240px;height: 25px; }
a{text-decoration: none; color: rgb(28, 104, 197);}
.button{background-color: rgb(49, 126, 234); color: aliceblue;border: none; width: 150px; height: 29px;}

.block3{
    display: inline-block; padding:50px; width: 600px; height: 500px;}
.block4{display: inline-block; width: 300px; height: 500px;padding: 50px;}
.button2{border-radius: 5px; background-color: rgb(49, 126, 234);color: aliceblue;border: none; width: 160px; height: 33px;}
.button-2{margin: 10px 0 0 42px;}

